* {
    box-sizing: border-box;
    margin: 0px;
    font-size: 20px;
    font-family: sans-serif;
}
:root{
    --mainColor : #ddd;
    --backgroundColor : #eee;
}
body{
    width: 100vw;
    height: 100vh;
}
.page{
    background-color: var(--backgroundColor);
    padding: 20px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.page .header{
    width: 100%;
    height: 10%;
    background-color: var(--backgroundColor);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
}
.page .header .logo{
    background-color: var(--mainColor);
    width: 10%;
    padding: 0.5%;
    margin: 1%;
    display: flex;
    flex-direction: row;
    justify-self: end;
    justify-content: center;
    align-items: center;
}
.page .header .links{
    background-color: var(--mainColor);
    width: 90%;
    padding: 0.5%;
    margin: 1%;
    display: flex;
    flex-direction: row;
    justify-self: end;
    justify-content: end;
    align-items: center;
    
    list-style: none;
    li{
        padding: 0.5%;
    }
}


.page .main-area{
    background-color: var(--backgroundColor);
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
}
.page .main-area .content{
    background-color: var(--mainColor);
    min-height: 500px;
    width: 70%;
    height: 100%;
    margin: 1%;
    padding: 1%;
}
.page .main-area .sidebar{
    background-color: var(--mainColor);
    min-height: 500px;
    width: 30%;
    height: 100%;
    margin: 1%;
    padding: 1%;
}


.page .footer{
    width: 100%;
    margin: 1%;
    height: 10%;
    background-color: var(--backgroundColor);
    display: flex;
    flex-direction: row;
}
.page .footer .copyright{
    width: 50%;
    padding: 1%;
    background-color: var(--mainColor);
    display: flex;
    justify-self: start; 
    justify-content: start; 
}
.page .footer .design{
    width: 50%;
    padding: 1%;
    background-color: var(--mainColor);
    display: flex;
    justify-self: end;
    justify-content: end;
}
