* {
    box-sizing: border-box;
    margin: 0px;
}
.flex {
    background-color: #eee;
    width: 600px;
    height: 300px;
    padding: 20px;
    margin: 20px auto;
    display: flex;
    
    flex-flow: row wrap;

    flex-direction: row;
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */

    flex-wrap: wrap;
    /* flex-wrap: wrap-reverse; */

    justify-content: center;
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    justify-content: space-evenly;

    /* align-items: stretch; */
    align-items: center;
    
    align-content: space-between;

}
.flex div {
    background-color: #f00;
    border: 1px black dashed;
    color: white;
    width: 20%;
    text-align: center;
    padding: 20px;
}
.flex .test-0{
    order: -1;
}
.flex .test-1{
    flex-grow: 1;
}
.flex .test-2{
    flex-shrink: 1;
    order: -2;
    flex-basis: 200px;

    flex: 1 1 150px
}

.float {
    overflow: hidden;
    background-color: #eee;
    width: 600px;
    padding: 20px;
    margin: 20px auto;    
}
.float div {
    background-color: #f00;
    color: white;
    float: right;
    width: 25%;
    text-align: center;
    padding: 20px;
}

.center {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    
    background-color: #e0e;
    color: white;
    border: 1px #0e8 solid;
    border-radius: 50%;

    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
    
}