
.parent .child .title{
    color: red;
}
.parent .title{
    color: blue;
}
.parent p,.title{
    color:green;
}

.assignment-2{
    padding: 10px;
    margin: 10px;
    color: white;
    background-color: brown;
    width: 400px;
    max-height: 50px;
}

.assignment-2 .four{
    overflow: hidden;
}

