.one{
    background-color: red;
    color: white;
}
.two{
    background-color: brown;
    color: bisque;
    width: 300px;
    height: 300px;
}
a{
    color: gold;
    text-decoration: none;
}
a:visited{
    color: blueviolet;
}
a:hover{
    color:black;
}
.ch:checked + label{
    color: blue;
}
.in:focus{
    background-color: coral;
    outline: none;
    border: 3px seagreen solid;
}
:empty{
    height: 30px;
    border: 1px red dashed ;
}

.one::first-letter{
    background-color: coral;
    font-size: 25px;
    font-weight: 700;
    font-family: serif;
    color: aliceblue;
    margin: 5px;
    padding: 5px;
}
.two::first-line{
    background-color: coral;
    font-size: 25px;
    font-weight: 700;
    font-family: serif;
    color: aliceblue;
    margin: 5px;
    padding: 5px;
}
::selection{
    background-color: blueviolet;
    color: aqua;
}