.one{
    background-color: red;
    color: white;
}
.two{
    position: relative;
    background-color: brown;
    color: bisque;
    width: 500px;
    height: 200px;
    margin-left: 50px;
}
a{
    color: gold;
    text-decoration: none;
}
a:visited{
    color: blueviolet;
}
a:hover{
    color:black;
}
.ch:checked + label{
    color: blue;
}
.in:focus{
    background-color: coral;
    outline: none;
    border: 3px seagreen solid;
}
/* No use anymore - just for showcase */
/* :empty{
    height: 30px;
    border: 1px red dashed ;
} */

.one::first-letter{
    background-color: coral;
    font-size: 25px;
    font-weight: 700;
    font-family: serif;
    color: aliceblue;
    margin: 5px;
    padding: 5px;
}
.two::first-line{
    background-color: coral;
    font-size: 25px;
    font-weight: 700;
    font-family: serif;
    color: aliceblue;
    margin: 5px;
    padding: 5px;
}
::selection{
    background-color: blueviolet;
    color: aqua;
}

.two:hover::after{
    content: "";
    position: absolute;
    background-color: blue;
    height: 100%;
    width: 10px;
    right: 0px;
    top: 0px;
}
.two::before{
    content: "";
    position: absolute;
    top: 0px;
    left: -20px;
    border-width: 20px;
    border-style: solid;
    border-color:  transparent transparent transparent green;
    width: 0px;
    height: 0px;
}